#
# Mykyta P.
# mp091689@gmail.com
#
# This file should be placed in a folder with images that need to add your watermark
# Этот файл необходимо поместить в папку с изображениями на которых должен быть ваш водяной знак
#
DirectoryIndex index.php
	<FilesMatch "\.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)$">
		RewriteEngine On
		RewriteCond %{REQUEST_FILENAME} -f
		RewriteRule ^(.*)$ /watermark/watermark.php [T=application/x-httpd-php,L,QSA]
	</FilesMatch>